.Single-station {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: x-large;
  max-width: 1200px;
  margin-top: 2rem;
}


.Upper-row, .Bottom-row {
  display: flex;
  width: 100%;
  min-height: 300px;
  flex: 1;
}

.Bottom-row {
  margin-bottom: 3rem;
}

.Popular-stations {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#pop-station-header {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: large;
}