
.Journey-link, .Station-link {
  text-decoration: none;
  color: black;
  font-size: xx-large;
  margin: 1rem;
}

.Journey-link:hover, .Station-link:hover {
  text-decoration: underline;
}

.Journey-link-active, .Station-link-active {
  text-decoration: underline;
  color: black;
  font-size: xx-large;
  margin: 1rem;
}

