td {
  text-align: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

tr {
  border: 1px solid;
  border-color: rgba(108, 123, 149, 0.5);
  height: 3rem;
}

tr:nth-child(odd) {background: whitesmoke}