.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif
}

.Title-and-logo {
  display: flex;
}

.Logo {
  margin: auto;
  margin-bottom: 0.2rem;
  margin-right: 1.5rem;
}

h1 {
  font-size: xxx-large;
  margin-bottom: 0.5rem;
}

.Main-content {
  max-width: 1200px;
  min-width: 850px;
}

.Journey-list, .Station-list {
  margin-top: 3rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  font-size: large;
  margin: 1rem;
}

td {
  text-align: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 2.8rem;
}

th {
  text-align: center;
  padding: 10px;
}

tr {
  border: 1px solid;
  border-color: rgba(108, 123, 149, 0.5);
}

.Header-row {
  border: 1px solid;
  border-color: rgba(108, 123, 149, 0.5);
}

tr:nth-child(odd) {background: whitesmoke}

.Page-count {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Page-controls {
  margin-top: 1rem;
}

button {
  background: whitesmoke;
  border: 1px solid rgba(108, 123, 149, 0.5);
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
  font-size: large;
}

button:hover {
  background: rgb(216, 216, 216);
}